/* fondo */
.root {
    -fx-background-color: linear-gradient(to bottom right, #eaf6ff, #bcdcff, #8ebcf2);
    -fx-font-family: "Segoe UI Semilight";
}

.card {
    -fx-background-color: rgba(255, 255, 255, 0.82);
    -fx-background-radius: 20;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.28), 20, 0.3, 0, 5);
}


/* Titulo */
.title {
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-fill: #0a3d62;
    -fx-padding: 0 0 15 0;
}



